@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --color-principal: #E31717;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.grid__container > * {
    box-shadow: 0 0 7 0 black;
    padding: 10px;
    text-align: center;
}
h1 {
    color: white;
    display: inline-block;
    font-family: monospace;
    line-height: 40px;
}
.U__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-principal);
    height: 30px;
    width: 30px;
    margin: .3rem;
}
.logo {
    display: flex;
}
.nav {
    display: flex;
    justify-content: space-between;
    min-width: 992px;
    margin: 0 auto;
    width: 100%;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav__menu {
    display: flex;
    margin-right: 10rem;
    list-style: none;
    left: -100%;
}
.nav__menu-item {
    font-family: monospace;
    text-transform: uppercase;
    width: max-content;
}
.menu-link {
    line-height: 40px;
    padding: 10px 12px;
}
.menu-link:hover {
    border-bottom: 5px solid var(--color-principal);
    transition: .5s;
}
.toggle {
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    display: none;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #121228;
    grid-area: header;
}
.inicio {
    grid-area: inicio;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_5mueGLbc2_fihK1B2aySVmIbBb7TeXlfYcl34PB3&s");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
}
.inicio img {
    margin: 5rem;
    border: 2px solid var(--color-principal);
    height: 400px;
    border: 5px solid var(--color-principal);
}
.container {
    display: inline-block;
}
.texto {
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 2rem;
    animation: 
    typing 2s steps(28),
    cursor .4s step-end infinite alternate;
}
.texto b {
    color: var(--color-principal);
}
@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}
.inicio .texto__info {
    font-size: 1rem;
    color: white;
    font-weight: 100;
    text-align: center;
    margin: 1rem 1rem;
}
.inicio__btn {
    background-color: var(--color-principal);
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    margin-top: 2rem;
}
.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: azure;
    padding: 0;
    display: grid;
    width: 100%;
}
.content__info {
    padding: 1rem;
}
.content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content h3 {
    text-align: start;
    border-bottom: 3px solid var(--color-principal);
    margin-bottom: 1rem;
}
.content p {
    text-align: justify;
}
.tecnologia {
    grid-area: tecnologia;
    padding: 0;
    color: white;
    width: 100%;
}
.tecnologia__container {
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/490/643/non_2x/network-background-with-plexus-line-geometric-pattern-abstract-banner-illustration-for-website-macromolecule-ai-wallpaper-vector.jpg");
    background-size: cover;
    text-align: start;
    padding: 2rem;
}
.tecnologia h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: .3rem;
    border-bottom: 5px solid white;
}
.tecnologia__grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
.tecnologia__grid div {
    height: 8rem;
    border: 2px solid #fff;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/278/150/small/dark-background-abstract-with-light-effect-vector.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    backdrop-filter: blur(20px);
}


.proyecto {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/103/861/desktop-wallpaper-red-and-black-group-dark-red-black-full.jpg");
    grid-area: proyecto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proyecto h5 {
    color: white;
    font-size: 2rem;
    background-color: #be1515;;
    padding: .3rem;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black;
}
.proyecto b {
    background-color: #be1515;
    padding: .2rem ;
    margin-right: .3rem;
    border-radius: 10px;font-size: .9rem;
}
.proyecto p {
    font-size: .8rem;
    text-align: center;
}
.proyecto__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.proyecto__container img {
    height: 150px;
    width: 200px;
    margin:  0 .5rem;
}
.proyecto__container article {
    display: flex;
    margin: 1rem 0rem;
    background-color: #f115;
    border-radius: 10px;
    color: white;
    padding: 2rem 1rem;
}

.footer {
    background-color: rgb(188, 14, 66);
    grid-area: footer;
}
.contactos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.contactos h6 {
    font-size: 1.5rem;
}
.contactos button {
    color: white;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.grid__container {
    display: grid;
    grid-template: 
    "header" 50px
    "inicio" auto
    "main" auto
    "tecnologia" auto
    "proyecto" auto
    "footer" auto;
}
@media (max-width: 769px) {
        .grid__container {
            grid-template-columns: 1fr;
            grid-template-rows: 60px auto auto auto auto auto;
            grid-template-areas: 
            "header"
            "inicio"
            "main"
            "tecnologia"
            "proyecto"
            "footer";
        }
    .nav-link {
        color: white;
        text-decoration: none;
        font-size: .8rem;
    }
    .logo{
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        background-color: #333;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: .3rem 0px;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: -100%;
        transition: left .3s ease-in;
    }
    .nav__menu-item {
        line-height: 80px;
    }
    .menu-link:hover,
    .menu-link:active {
        background: none;
        color: var(--color-principal);
    }
    .toggle {
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
    }
    .nav__menu--visible {
        left: 0;
    }
    .inicio {
        display: flex;
        flex-direction: column;
    }
    .inicio .texto__info {
        font-size: .9rem;
        margin: 0rem 3rem;
    }
    .proyecto__container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:550px) {
    .inicio img {
        height: 200px;
    }
    .inicio .texto {
        font-size: 1.1rem;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .content img {
        width: 100%;
        height: max-content;
    }
}
